body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #191919;
	background: url('../img/wallpaper4.png') 50% 50% / 100% 100% no-repeat fixed;
}
/* font-family: 'Roboto', sans-serif;

*/
/*  */

header, section, p, img, ul, li{
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
	color: white;
}
header {
    width: 100%;
    top: 0;
    z-index: 3;
}

a {
	text-decoration: none;
	color: white;
}

.btn_up {
	position: fixed;
	bottom: -50px;
	right: 100px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid black;
	background: #00ffee;
	z-index: 100;
	outline: 0!important;
	transition: .5s;
	cursor: pointer;
}

.btn_up:after {
	content:'';
	width: 10px;
	height: 10px;
	border-top: 2px solid black;
	border-left: 2px solid black;
	transform: rotate(45deg);
	position: absolute;
	top: 4px; bottom: 0;
	left: 0; right: 0;
	margin: auto;
}

.btn_up.active{
	bottom: 50px;
}

.anim1 {
	left: -100px;
    bottom: 50px;
	position: absolute;
	z-index: 100;
	outline: 0!important;
	transition: .5s;
}

.anim1:after {
	content:'';
	width: 10px;
	height: 10px;
	position: absolute;
	top: 4px; bottom: 0;
	left: 0; right: 0;
	margin: auto;
}

.anim1.active{
	left: 50px;
}

#text_align{
	text-align: center;
}

#display_flex {
	display: flex;
}

#block_forma {
	width: 50%;
	border: 1px solid grey;
}

.blue {
	color: #00ffee;
}

/* */

.container1 {
	width: 1200px;
	margin: 0 auto;
}

.container2 {
	width: 1200px;
	margin: 0 auto;
	display: flex;
}
.container3 {
	width: 1200px;
	margin: 0 auto;
	border: 1px solid red;
}

.section1{
	padding-bottom: 20px;
	border: 1px solid grey;
}

.section2{
	width: 133%;
	padding-bottom: 20px;
}

.section3{
	width: 133%;
	border: 1px solid blue;
}
.section4{
	width: 133%;
	border: 1px solid blue;
}

.Tmenu {
	padding: 0;
	margin: 0;
    display: flex;
	align-items: center;
}

.logo {
	width: 100px;
	border-radius: 50%;
	transition: all 1s ease;
}

.logo:hover {
	transform: scale(1.3);
	transition: all 1s ease;
}

.logo_block {
	padding: 20px;
}

.menu {
	display: flex;
	margin-left: auto;
	padding: 10px;
}

.menu a {
	margin: 0 35px;
	color: white;
	transition: all 0.5s ease;
}

.menu a:hover {
	color: #00ffee;
	transition: all 0.5s ease;
}

.main_content {
	width: 100%;
}

.reklama {
	margin-left: auto;
	height: 102px;
}

.Yakor {
	font-size: 18px;
}

dt {
	padding: 10px 0 10px 10px;
}

.Forms dd{
	margin-top: 10px;
}

.box {
	width: 20px;
	height: 20px;
	background-color: red;
	margin: 1px 0 1px 20px;
}

.box1 {
	margin-top: 22px;
}

.circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #00d672;
	margin: 1px 0 1px 20px;
}

.circle1 {
	margin-top: 22px;
}

.triangle {
    pointer-events: none;
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 14px 24px 14px;
    border-color: transparent transparent #3CFFEC transparent;
}

.red{
	background-color: red;
}

.green{
	background-color: #00d672;
}

.light_blue{
	background-color: #3CFFEC;
}

.block {
	width: 50px;
	height: 50px;
	background-color: red;
	border-radius: 10px;
}

.btn {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.btn img {
	width: 20px;
	height: 20px;
}

.btn > img:nth-child(3) {
    width: 17px;
	height: 17px;
}

.btn1 {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.btn1 img {
	width: 17px;
	height: 17px;
	padding-bottom: 1px;
}

.buttons_block {
	background-color: #4d4d4d;
	width: 140px;
	height: 22px;
	margin-top: 21px;
}

.yep {
	border: 1px solid grey;
	height: 64px;
}